<form class="form" id="order-form" action="/order" method="POST" enctype="application/x-www-form-urlencoded">
  <div class="email form-group">
    <label for="email">Email:</label>
    <input type="email" name="email" required placeholder="Your Email">
  </div>

  <div class="item-list">

    <div class="item form-group">
      <label for="item">Item:</label><select name="item" required>
        <option hidden disabled selected value>Select an item</option>     
        {{#each products}}
          <option value="{{this.name}} {{this.type}}">{{this.name}} {{this.type}}</option>
        {{/each}}
      </select>
    </div>

    <div class="quantity form-group">
      <label for="quantity">Amount:</label>
      <select name="quantity" required>
        <option hidden disabled selected value>Select a size...</option>
        {{#each cupcakePricing}}
          <option style="display:none;" class="cupcake-prices" value="{{this}}">{{this}}</option>
        {{/each}}
        
        {{#each cookiePricing}}
          <option style="display:none;" class="cookie-prices" value="{{this}}">{{this}}</option>
        {{/each}}

        {{#each nineInchPricing}}
          <option style="display:none;" class="9-inch-prices" value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

  </div>

  <button class="btn" id="add-item">
    <img src="/photos/add-circle.svg" alt="Add Item">
  </button>
  <button class="btn" id="remove-item">
    <img src="/photos/remove-circle.svg" alt="Remove Item">
  </button>
  <button class="btn" type="submit">Submit Order</button>
</form>